.card-container {
  display: flex;
  flex-flow: row wrap;
}

.user-img {
  display: block;
  margin: o auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-wrapper {
  width: 250px;
  border: 1px solid maroon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.header {
  text-align: center;
}
